.hero {
	// CIRCLES HERE
	// ::after {
	// 	content: '';
	// 	width: 30px;
	// 	height: 30px;
	// 	background: url('../../lib/assets/elipse-white.png') no-repeat -30px -50px fixed;
	// 	top: 100px;
	// 	right: 5px;
	// 	position: absolute;
	// 	display: inline-block;
	// 	z-index: 21;
	// }
	// background: url('https://i.postimg.cc/Kznhz7QN/bg-hero.png') no-repeat top;
	// background-size: cover;
	// .white-circle,
	.green-circle,
	.blue-circle,
	.orange-circle {
		position: absolute;
		border-radius: 80%;
	}
	.white-circle {
		top: 0;
		left: 0;
	}
	.green-circle {
		top: 80;
		right: 0;
	}
	.blue-circle {
		top: 40;
		right: 0;
	}
	.orange-circle {
		top: 60;
		right: 0;
	}

	h1 + p {
		line-height: 150%;
		max-width: fit-content;
		margin-bottom: 20px;
	}
	h1 {
		font-family: 'Audiowide', cursive;
		font-size: 3.52rem;
		margin-bottom: 8px;
	}
	// Card
	.card {
		width: 300px;
		height: auto;
		img {
			width: fit-content;
			width: 280px;
			height: 300px;
			object-fit: cover;
		}
		.card-footer {
			h6 {
				font-family: 'Audiowide', cursive;
			}
		}
	}
	.btn {
		margin-bottom: 30px;
	}
	.hero-social-proof {
		img {
			width: 100px;
			height: auto;
		}
	}
}
// why us
.why-us {
	.grid {
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		column-gap: 10px;
	}
	.card {
		border: 1.5px solid $white-200;
		background-color: $dark-gray;
	}
}
